
/* HEADER AND NAV */
header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    cursor: pointer;
}

nav {
    background-color: white;
    color: black;
    padding: 30px 20px 0 20px;
    font-family: din condensed;
    list-style: none;
    text-align: right;
    letter-spacing: 1px;
    
}


header > img {
    width: 94px;
    height: 75px;
    margin: 30px;
}

li {
    padding: 0 30px 0 30px;
    font-size: 16px;
    font-family: din condensed;
    display: inline-block;
    
}

.headerRound {
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    padding: 3px 10px 3px 10px;
    
}

.buttonResume {
    padding: 0;
    width: 100px;
    text-align: center;
    background-color: none;
    transition: background-color 1.5s ease;
    border-radius: 10px;
    color: black;
}

.buttonResume:hover {
    background-color: #846E37; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}


/* HEROS SPACE */

.buttonUXUI {
    padding: 20px;
    width: 500px
    text-align: center;
    background-color: none;
    transition: background-color 0.5s ease;
    border-radius: 10px;
    color: black;
    border-style: none;
    background-color: white;
    font-size: 25px;
}

.buttonUXUI:hover {
    color: #846E37;
    border-bottom: #846E37 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonArch {
    padding: 20px;
    width: 500px
    text-align: center;
    background-color: none;
    transition: background-color 0.5s ease;
    border-radius: 10px;
    color: black;
    border-style: none;
    background-color: white;
    font-size: 25px;
}

.buttonArch:hover {
    color: #846E37;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19);
}

#heroGrid {
    margin: 0px;
    display: grid;
    min-height: 500px;
    height: 70vh;
    grid-template-rows: 100% 100%;
    grid-template-areas: 
    "about1 about2";
    border-bottom: 5px solid #846E37;
 

}

/*.banner2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid black;
    grid-template-areas: "topRow"; 
}
    */

#about1 {
    grid-area: about1;
}

#about1 {
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    position: absolute;
    left: 30px;
    top: 400px;
    padding: 25px;
    max-width: 550px;
    z-index: 100;
    
}

#about2 {
    grid-area: about2;
    background-image: url("../PORTF IMG/PLACEHOLDER.png");
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: right;
    position: relative; 
    padding: 20px 20px 20px
}

.expCurator {
    font-family: Gurmukhi mn;
    font-weight: lighter;
    font-size: 30px;
    letter-spacing: 10px;
    margin: auto;
}

.expCuratorDescr {
    font-size: 14px;
    font-family: baskerville; 
    letter-spacing: 2px;
    padding: 20px 50px 0 0;
    text-align: center;
    margin: auto;
    
}

/* NAV FOR UX/I & ARCH WORKS */

.workType {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    font-family: din condensed;
    letter-spacing: 5px;
    padding: 0 0 50px 30px;
    font-size:20px;
}

/* CONTENT - PROJECTS HERE*/

.background-p1 {
    background-color: black;
    
}

#uxuiContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    background-color: black;
    margin: 50px;
}

.title {
    font-family: din condensed;
    font-size: 30px;
    color: light white;
    background-color: black;
    color: #846E37;
    grid-column-start: span 3;
    padding: 75px 0 0 0;
    margin: none;
}

.p1-img-1 {
    align-items: center;
    padding: 50px;
}

.p1-col {
    padding: 150px 0 0 200px;
    grid-column-start: 2;
}

.p1-col-1 {
    grid-column-start: 1;
    padding: 20px 0 0 100px;
    
}

.p1-col-2 { 
    grid-column-start: 2;
    padding: 20px 0 0 100px;
}


.p1-row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 50px;
    margin: 100px 0 0 100px;
}
.p1-img-2 {
    align-items: center;
}

.p1-col-3 {
    grid-column-start: 2;
    font-family: din condensed;
    color: light white;
    background-color: black;
    color: #846E37;
    padding: 75px 25px 0 100px;
    font-size: 30px;
    color: #846E37;
    height: 100vh;


}
.p1-subtitle {
    font-family: din condensed;
    font-size: 18px;
    color: light white;
    background-color: black;
    color: #846E37;
}



.descr1 {
    color: white;
    font-family: roboto;
    font-weight: regular;
    text-align: left;
    letter-spacing: 2px;
    font-size: 14px;
    
}

.descr2 {
    font-family: roboto;
    font-size: 12px;
    color: #D9D9D9;
    background-color: black;
    color: white;
    letter-spacing: 2px;

}

.overviewText {
    font-family: gurmukhi;
    text-align: left;
    color: lightgrey;
    font-size: 16px;
    letter-spacing: 2px;
    grid-column-start: 2;
    grid-column-end: 3;
}



.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.line2 {
    bottom: 0;
    width: 100%;
    height: 60px;
    font-size: 8px;
    font-weight: lighter;
    text-align: center;
}


/*
@media only screen and (max-width: 600px) {
    #heroGrid {
      position: static;
      margin: 20px;
    }}
    #heroGrid {
      grid-template-areas:
    "featuredProduct featuredProduct"
    "secondaryProduct CTA";
    }

    #categoryGrid {
      grid-template-rows: 300px 300px 300px 300px 300px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "bookcases"
        "bedroom"
        "patio"
        "couches"
        "desks"
      ;

  }
*/